*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.containerFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    align-items: center;
    background-color:rgba(29, 190, 180, 1) ;
    position: fixed;
    bottom: 0;
}

.txtContainer{
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-left: 50px;
}

.iconContainer{
    display: flex;
    flex-direction: row;
    width: 250px;
    margin-right: 50px;
    color: rgba(255, 255, 255, 1);
}

.iconContainer div{
    margin-left: 30px;
}


@media screen and (max-width: 480px){

    .iconContainer{
        display: none;
    }
    .txtContainer{
        margin-left: 20px;
    }
}
    